In [1]:
# showing merge is important when combining dataframes
# and the index doesn't align properly
# in this case, 'sample' is not the index, just a column

In [2]:
import pandas as pd

In [3]:
dfa = pd.read_csv('file-a.csv')

In [4]:
dfb = pd.read_csv('file-b.csv')

In [5]:
# notice the sample order is different from dfa to dfb
dfa

   sample   A    B     C
0       1  10  100  1000
1       4  40  400  4000
2       8  80  800  8000

In [6]:
dfb

   sample        D         E
0       4  4-thing  4-thingE
1       1  1-thing  1-thingE
2       8  8-thing  8-thingE

In [7]:
# pull out some column names
dep_var = [i for i in dfb.columns if i != 'sample']

In [8]:
dep_var

['D', 'E']

In [9]:
# 'combine' row to row
dfa[dep_var] = dfb[dep_var]

In [10]:
# yikes - columns from different samples got combined!
dfa

   sample   A    B     C        D         E
0       1  10  100  1000  4-thing  4-thingE
1       4  40  400  4000  1-thing  1-thingE
2       8  80  800  8000  8-thing  8-thingE

In [11]:
# try the merge
dfa2 = pd.read_csv('file-a.csv')
dfb2 = pd.read_csv('file-b.csv')
dfa2 = dfa2.merge(dfb, on='sample')

In [12]:
# data aligns!
dfa2

   sample   A    B     C        D         E
0       1  10  100  1000  1-thing  1-thingE
1       4  40  400  4000  4-thing  4-thingE
2       8  80  800  8000  8-thing  8-thingE